
@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-taavi-regular.woff2') format('woff2'), url('woff/iosevka-taavi-regular.woff') format('woff'), url('ttf/iosevka-taavi-regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-taavi-extended.woff2') format('woff2'), url('woff/iosevka-taavi-extended.woff') format('woff'), url('ttf/iosevka-taavi-extended.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-taavi-italic.woff2') format('woff2'), url('woff/iosevka-taavi-italic.woff') format('woff'), url('ttf/iosevka-taavi-italic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-taavi-extendeditalic.woff2') format('woff2'), url('woff/iosevka-taavi-extendeditalic.woff') format('woff'), url('ttf/iosevka-taavi-extendeditalic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-taavi-oblique.woff2') format('woff2'), url('woff/iosevka-taavi-oblique.woff') format('woff'), url('ttf/iosevka-taavi-oblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('woff2/iosevka-taavi-oblique.woff2') format('woff2'), url('woff/iosevka-taavi-oblique.woff') format('woff'), url('ttf/iosevka-taavi-oblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-taavi-extendedoblique.woff2') format('woff2'), url('woff/iosevka-taavi-extendedoblique.woff') format('woff'), url('ttf/iosevka-taavi-extendedoblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('woff2/iosevka-taavi-extendedoblique.woff2') format('woff2'), url('woff/iosevka-taavi-extendedoblique.woff') format('woff'), url('ttf/iosevka-taavi-extendedoblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 450;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-taavi-book.woff2') format('woff2'), url('woff/iosevka-taavi-book.woff') format('woff'), url('ttf/iosevka-taavi-book.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 450;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-taavi-extendedbook.woff2') format('woff2'), url('woff/iosevka-taavi-extendedbook.woff') format('woff'), url('ttf/iosevka-taavi-extendedbook.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 450;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-taavi-bookitalic.woff2') format('woff2'), url('woff/iosevka-taavi-bookitalic.woff') format('woff'), url('ttf/iosevka-taavi-bookitalic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 450;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-taavi-extendedbookitalic.woff2') format('woff2'), url('woff/iosevka-taavi-extendedbookitalic.woff') format('woff'), url('ttf/iosevka-taavi-extendedbookitalic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 450;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-taavi-bookoblique.woff2') format('woff2'), url('woff/iosevka-taavi-bookoblique.woff') format('woff'), url('ttf/iosevka-taavi-bookoblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 450;
	font-stretch: normal;
	src: url('woff2/iosevka-taavi-bookoblique.woff2') format('woff2'), url('woff/iosevka-taavi-bookoblique.woff') format('woff'), url('ttf/iosevka-taavi-bookoblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 450;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-taavi-extendedbookoblique.woff2') format('woff2'), url('woff/iosevka-taavi-extendedbookoblique.woff') format('woff'), url('ttf/iosevka-taavi-extendedbookoblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 450;
	font-stretch: expanded;
	src: url('woff2/iosevka-taavi-extendedbookoblique.woff2') format('woff2'), url('woff/iosevka-taavi-extendedbookoblique.woff') format('woff'), url('ttf/iosevka-taavi-extendedbookoblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-taavi-bold.woff2') format('woff2'), url('woff/iosevka-taavi-bold.woff') format('woff'), url('ttf/iosevka-taavi-bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-taavi-extendedbold.woff2') format('woff2'), url('woff/iosevka-taavi-extendedbold.woff') format('woff'), url('ttf/iosevka-taavi-extendedbold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-taavi-bolditalic.woff2') format('woff2'), url('woff/iosevka-taavi-bolditalic.woff') format('woff'), url('ttf/iosevka-taavi-bolditalic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-taavi-extendedbolditalic.woff2') format('woff2'), url('woff/iosevka-taavi-extendedbolditalic.woff') format('woff'), url('ttf/iosevka-taavi-extendedbolditalic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-taavi-boldoblique.woff2') format('woff2'), url('woff/iosevka-taavi-boldoblique.woff') format('woff'), url('ttf/iosevka-taavi-boldoblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('woff2/iosevka-taavi-boldoblique.woff2') format('woff2'), url('woff/iosevka-taavi-boldoblique.woff') format('woff'), url('ttf/iosevka-taavi-boldoblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-taavi-extendedboldoblique.woff2') format('woff2'), url('woff/iosevka-taavi-extendedboldoblique.woff') format('woff'), url('ttf/iosevka-taavi-extendedboldoblique.ttf') format('truetype');
    font-display: swap;
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('woff2/iosevka-taavi-extendedboldoblique.woff2') format('woff2'), url('woff/iosevka-taavi-extendedboldoblique.woff') format('woff'), url('ttf/iosevka-taavi-extendedboldoblique.ttf') format('truetype');
    font-display: swap;
}
